{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lumino - Dashboard</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{ doc.name }}</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li><a href="{% url 'home' %}"><em class="fa fa-dashboard">&nbsp;</em> Home</a></li>
			<li><a href="{% url 'attendence' %}"><em class="fa fa-calendar">&nbsp;</em> Attendance</a></li>
			<li><a href="{% url 'work' %}"><em class="fa fa-bar-chart">&nbsp;</em> Work</a></li>
			<li><a href="{% url 'visitor' %}"><em class="fa fa-toggle-off">&nbsp;</em> Visitors</a></li>
			{% if type != 1 %}
			<li class="active"><a href="{% url 'addUser' %}"><em class="fa fa-toggle-off">&nbsp;</em> Add User </a></li>
			<li><a href="{% url 'addAttendance' %}"><em class="fa fa-toggle-off">&nbsp;</em> Add Attendance </a></li>
			<li><a href="{% url 'addVisitor' %}"><em class="fa fa-toggle-off">&nbsp;</em> Add Visitor </a></li>
			{% endif %}
			<li><a href="{% url 'report' %}"><em class="fa fa-toggle-off">&nbsp;</em> Get Report </a></li>
			<li><a onclick="location.href={% url 'log' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li>
						<em class="fa fa-home"></em>
				</li>
				<li class="active">Add User</li>
			</ol>
		</div>
		<!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Add User</h1>
			</div>
		</div>
		<!--/.row-->

		<div class="col-md-12 py-lg-4 py-md-4 py-xl-4 py-sm-0">
			<div class="panel panel-default">

				<div class="panel panel-default">
					<div class="panel-heading">
						Add User
					</div>
					<div class="panel-body">
						<form action="/AddUser/" class="form-horizontal" method="POST">
							{% csrf_token %}
							<fieldset>
								

								<div class="form-group">
									<label class="col-md-3 control-label" >Name</label>
									<div class="col-md-9">
										<input type="text" value="" name="name" class="form-control" required>
									</div>
								</div>
								


								<div class="form-group">
										<label class="col-md-3 control-label" >User Name</label>
										<div class="col-md-9">
											<input type="text" value="" name="username" class="form-control" required>
										</div>
									</div>

								<div class="form-group">
									<label class="col-md-3 control-label" >Email</label>
									<div class="col-md-9">
										<input type="email" value="" name="email"class="form-control" required>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label"  >Phone Number</label>
									<div class="col-md-9">
										<input type="number" minlength=7 name="phone" maxlength=11 value="" class="form-control" required>
									</div>
								</div>


								<div class="form-group">
										<label class="col-md-3 control-label" >Password</label>
										<div class="col-md-9">
											<input type="text" minlength=6 value="" name="password" class="form-control" required>
										</div>
								</div>


								<div class="form-group">
										<label class="col-md-3 control-label" >Type</label>
										<div class="col-md-9">
												<select class="form-control" name="type">
													{% if type == 3 %}
														<option name="2">HR Manager</option>
													{% endif %}
														<option name="3" selected>Employee</option>
														
													</select>
										</div>
								</div>


								<div class="form-group">
									<label class="col-md-3 control-label" ></label>
									<div class="col-md-9">
											<input type="submit" class="btn btn-primary" value="Add User">
									</div>
								</div>

								
							</fieldset>
						</form>
					</div>
				</div>



				{% if newEid %}


				<div class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Success!</strong> The Id Of New User Is {{newEid}}
					  </div>

				{% endif %}

			</div>
		</div>



	</div>
	<!--/.main-->

	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/chart.min.js' %}"></script>
	<script src="{% static 'js/chart-data.js' %}"></script>
	<script src="{% static 'js/easypiechart.js' %}"></script>
	<script src="{% static 'js/easypiechart-data.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>


</body>

</html>