{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lumino - Dashboard</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{ doc.name }}</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
				<li><a href="{% url 'home' %}"><em class="fa fa-dashboard">&nbsp;</em> Home</a></li>
				<li><a href="{% url 'attendence' %}"><em class="fa fa-calendar">&nbsp;</em> Attendance</a>
				</li>
				<li class="active"><a href="{% url 'work' %}"><em class="fa fa-bar-chart">&nbsp;</em> Work</a></li>
				<li><a href="{% url 'visitor' %}"><em class="fa fa-toggle-off">&nbsp;</em> Visitors</a></li>
				{% if type != 1 %}
				<li><a href="{% url 'addUser' %}"><em class="fa fa-toggle-off">&nbsp;</em> Add User </a></li>
				<li><a href="{% url 'addAttendance' %}"><em class="fa fa-toggle-off">&nbsp;</em> Add Attendance </a></li>
				<li><a href="{% url 'addVisitor' %}"><em class="fa fa-toggle-off">&nbsp;</em> Add Visitor </a></li>
				{% endif %}
				<li><a href="{% url 'report' %}"><em class="fa fa-toggle-off">&nbsp;</em> Get Report </a></li>
				<li><a onclick="location.href={% url 'log' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
			</ul>
	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li>
					<em class="fa fa-home"></em>
				</li>
				<li class="active">Work</li>
			</ol>
		</div>
		<!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Work</h1>
			</div>
		</div>
		<!--/.row-->

		<div class="row">
			<div class="col-md-6">
				<form role="form" action="/Work/" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>Selects</label>
						<select name="dateNow" class="form-control" onchange="clickOnChange()">
							<option selected name="none">None</option>
							{% for i in timeObj %}
							<option name="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
					</div>
					<input id="selectNow" type="submit" hidden>
				</form>
			</div>
		</div>
		<script>
			function clickOnChange() {
				document.getElementById("selectNow").click()
			}
		</script>



		<div class="col-md-12 py-lg-4 py-md-4 py-xl-4 py-sm-0">
			<div class="panel panel-default">

				<div class="panel panel-default">
					<div class="panel-heading">
						Your Work
					</div>
					{% if dateNow %}
					<div class="panel-body">
						<form class="form-horizontal">
							<fieldset>

								
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">Month/Year</label>
									<div class="col-md-6">
										<input type="text" value="{{ dateNow}}" class="form-control" disabled>
									</div>
								</div>
								
							</fieldset>
						</form>
					</div>
					{% endif %}
				</div>


				<table class="table">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Date</th>
						<th scope="col">Work</th>
					</tr>
					<tbody>

						{% if atten %}

						{% for key, value in atten.items %}
						<tr>
							<td>{{key}}</td>
							<td>{{key}}/{{dateNow}}</td>

							{% if value < 0 %}
							<td class="text-secondary">W</td>
							{% endif %}

							{% if value == 0 %}
							<td class="text-danger">0 Hours</td>
							{% endif %}

							{% if value > 0  %}


								{% if value < 8  %}
								<td style="color:rgb(207, 207, 9);">{{value}} Hours</td>
								{% endif %}

								{% if value >= 8 and value <= 9 %}
								<td class="text-primary">{{value}} Hours</td>
								{% endif %}

								{% if value > 9 %}
								<td style="color:rgb(36, 187, 111);">{{value}} Hours</td>
								{% endif %}

							{% endif %}

							


						</tr>
						{% endfor %}
						{% endif %}

					</tbody>
				</table>


			</div>
		</div>



	</div>
	<!--/.main-->

	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/chart.min.js' %}"></script>
	<script src="{% static 'js/chart-data.js' %}"></script>
	<script src="{% static 'js/easypiechart.js' %}"></script>
	<script src="{% static 'js/easypiechart-data.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>


</body>

</html>